# <a name='table'></a> Table of Content

1. [Python Introduction](#Introduction)
  *  [Introduction](#What)
  *  [Installing Anaconda and pip](#Install)
  *  [Opening the interface](#interface)
  
2. [Basics of python](#basics)
  * [First lines in python](#first line)
  * [Python syntax](#python syntax)
  * [Variables](#variables)
  * [Numbers](#python numbers)
  * [Strings](#python strings)
  * [Operators](#python operators)

3. [Data structures](#data structures)
  * [Arrays](#arrays)
  * [List](#list)
  * [Tuple](#tuple)
  * [Set](#set)
  * [Dictionary](#dictionary)

4. [Control structures](#control)
  * [Conditional statements](#conditional)
  * [Loops](#loops)

5. [Functions](#functions)
  * [Intro](#functions)
  * [Recursion](#recursion)
  * [Python Lambda](#lambda)

# 1.<a name='Introduction'></a> Python Introduction

## <a name="What"></a>  What is Python?

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.
    "Often, programmers fall in love with Python because of the increased productivity it provides. Since there is no compilation step, the edit-test-debug cycle is incredibly fast. Debugging Python programs is easy: a bug or bad input will never cause a segmentation fault. Instead, when the interpreter discovers an error, it raises an exception. When the program doesn't catch the exception, the interpreter prints a stack trace. A source level debugger allows inspection of local and global variables, evaluation of arbitrary expressions, setting breakpoints, stepping through the code a line at a time, and so on. The debugger is written in Python itself, testifying to Python's introspective power. On the other hand, often the quickest way to debug a program is to add a few print statements to the source: the fast edit-test-debug cycle makes this simple approach very effective.
    2 versions of Python is available for download. Python 2.x and 3.x (x represents the sub-version number). Versions in 2.x are older and does not have future support. It will be better to download 3.6 (3.7 is currently available). You can access the download page from here: https://www.python.org/downloads/ . After downloading python, you can check the version of the python installed by using this command on the terminal ' python --version '. This will print the ersion number of the Python installed.

## <a name="Install"></a> Installing Anaconda

After installing Python 3.6 (or 3.x) properly, what you have got to do next is to download Anaconda distribution. The open source Anaconda Distribution is the fastest and easiest way to do Python and R data science and machine learning on Linux, Windows, and Mac OS X. It's the industry standard for developing, testing, and training on a single machine. You can download the latest version of Anaconda from here: https://www.anaconda.com/download/ . While installing Anaconda, some of the essential learning packages will also get installed (Jupyter Notebook, etc). 


Once Anaconda has been downloaded, pip has to be installed. Pip is a package management system used to install and manage software packages written in Python. Sometimes you will have to install some packages that are not available for download via Anaconda. In that situtaion, the best alternative is to call the package that have to be downloaded using pip.

## Installing pip

To download pip, open the Anaconda Prompt (open search in your system and search for Anaconda Propmpt). Onc you have opened that, eneter the following command ' conda install -c anaconda pip '.

Now, after installing pip, if you want to download any packages, just use the commands like this; ' pip install h5py ' or 'pip install tensorflow ', etc .

## <a name="interface"></a> Opening the Interface

Now, we have dealt with basic stuffs for getting started to work on Python. You have the following options to start writing some lines in python:

1. Using Colab - Colab is a powerful GPU accelerated platform provided by Google for free. It supports Python 3. You can connect your notebook to a power GPU as well. The best part is that, it is available for free. You can aslo save it your drive, etc. Access Collab here : [Google Collab](https://https://colab.research.google.com/notebooks/welcome.ipynb). Select File option and then select new Python 3 notebook.

2. Use Jupyter Notebook - To activate Jupyter Notebook, open your Anaconda Prompt and enter the following command ' Jupyter Notebook '. Within a few seconds, Jupyter Notebook will be activated on your default browser page. In that, some of the files in your system will be shown. You can even create a new folder from that page. On the top right side, you will find a 'new' option. When you click on that,you will see an option 'Python 3' under Notebook. You will be taken to another page where you can start writing some lines in python.[ press shift+enter to run the file easily and to launch next line]

3. Python IDLE - Just search for Python IDLE (GUI) in your system and and launch that. Select 'File' option and select 'New' . This will launch a new interface, where you can start programming. Save the file before running it.

4. Another method is to download editors like Sublime or atom. It is better to use Collab now (for learning).

So, get ready to write some code in python :)

**[Go to Top](#table)**

# 2. <a name="basics"></a>Basics of Python

## <a name="first line"></a> First Lines in Python

So, we're going to start off with python. As usual, we will start by writing a programme for printing Hello World! 

After opening a new collab notebook, click on "code" below the File button and type the given code there and run it.

In [ ]:
print("Hello World!")

To run the code, press shift+enter. Initially, it will take some time for the notebook to connect to the server. Within 10 seconds (initial wait time) output will be shown.

## <a name="python syntax"></a>Python Syntax

### Python Identations

Where in other programming languages the indentation in code is for readability only, in Python the indentation is very important.

Python uses indentation to indicate a block of code. Python will give you error if you don't use indentation properly. Let's take an example. First one is without proper identation and the second one is a proper code. Go ahead and run it (when you keep the cursor inside the square box on the left side or each block, you will find an option to run that block, individually.)

In [ ]:
if 5 > 2:

    print("Five is greater than two!")

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

### Comments
Python has commenting capability for the purpose of in-code documentation. Comments start with a '#', and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment.
print("Hello, World!")

### Docstrings

Python also has extended documentation capability, called docstrings. Docstrings can be one line, or multiline. Python uses triple quotes at the beginning and end of the docstring:

In [ ]:
"""This is a 
multiline
docstring."""
print("Hello, World!")

## <a name="variables"></a>Variables

### Creating Variables
Unlike other programming languages, Python has no command for declaring a variable. A variable is created the moment you first assign a value to it. For example;

In [ ]:
x = 5
y = "John"
print(x)
print(y)

Variables do not need to be declared with any particular type and can even change type after they have been set. This is one of the many advantages of python compared to other languages.

In [ ]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character.
A variable name cannot start with a number.
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
Variable names are case-sensitive (age, Age and AGE are three different variables). The variable should be separated using underscore and not with space.

### Output Variables
The Python print statement is often used to output variables. To combine both text and a variable, Python uses the + character:

In [ ]:
x = "cool!!!!"
print("Python is " + x)

You can also use the + character to add a variable to another variable (first example). For numbers, the + character works as a mathematical operator (second example)

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(x+y)

In [ ]:
x = 5
y = 10
print(x + y)

If you try to combine a string and a number, Python will give you an error:

In [ ]:
x = "5"
y = "John"
print(x + y)

## <a name="python numbers"></a>Numbers

There are three numeric types in Python:

- **int**

- **float**

- **complex**

Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 5+1j   # complex
a="robin"

To verify the type of any object in Python, use the type() function:

In [ ]:
print(type(x))
print(type(y))
print(type(z))
print(type(a))

### Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

### Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

### Complex

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
 x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

## <a name="python strings"></a> Strings

### String Literals
String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

Strings can be output to screen using the print function. For example: print("hello"). Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

Example

Get the character at position 1 (remember that the first character has the position 0):

In [ ]:
a = "Hello, World!"
print(a[5])

###Substring 
Get the characters from position 2 to position 5 (not included)

In [ ]:
b = "Hello, World!"
print(b[2:5])

###The strip() Method
This method removes any whitespace from the beginning or the end

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

###The len() method
The len() method returns the length of a string:

In [ ]:
a = "Hello, World!"
print(len(a))

###The lower() method
This method returns the string in lower case:


###The upper() method
This method returns the string in upper case:



###The replace() method
This method replaces a string with another string:



###The split() method 
This method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

### Command-line String Input
Python allows for command line input.
That means we are able to ask the user for input.
The following example asks for the user's name, then, by using the input() method, the program prints the name to the screen:

In [ ]:
print("Enter your name:")
x = input()
print("Hello, " + x)

In [ ]:
#The above program can also be written as:

a= input('Enter your name: ')
print("Hello, "+a)

## <a name="python operators"></a> Operators

Operators are used to perform operations on variables and values.
Python divides the operators in the following groups:

* Arithmetic operators

* Assignment operators

* Comparison operators

* Logical operators

* Identity operators

* Membership operators

* Bitwise operators

### Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:
  +	Addition	x + y	
  -	Subtraction	x - y	
  *	Multiplication	x * y	
  +	Division	x / y	
  + Modulus	x % y	
  +	Exponentiation	x ** y 
  + Floor division	x // y


### Assignment Operators
Assignment operators are used to assign values to variables

### Comparison Operators
Comparison operators are used to compare two values:


+ ==	Equal	x == y	
+ !=	Not equal	x != y	
+	Greater than	x > y	
+ <	Less than	x < y	
+ Greater than or equal to	x >= y	
+ <=	Less than or equal to	x <= y



### Logical Operators
Logical operators are used to combine conditional statements:

+ **and** 	Returns True if both statements are true	(x < 5 **and**  x < 10)
+ **or**	Returns True if one of the statements is true	(x < 5 **or** x < 4	)
+ **not**	Reverse the result, returns False if the result is (true	not(x < 5 **and** x < 10))



### Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:


+ **is** 	Returns true if both variables are the same object	(x **is** y)	
+ **is** not	Returns true if both variables are not the same object	(x **is not** y)


### Membership Operators
Membership operators are used to test if a sequence is presented in an object:

+ **in** 	Returns True if a sequence with the specified value is present in the object	{x in y}	
+ **not in**	Returns True if a sequence with the specified value is not present in the object	{x **not in** y	}



### Bitwise Operators
Logical operators are used to combine conditional statements:

+ **& -	AND**	Sets each bit to 1 if both bits are 1
+ **| -	OR**	Sets each bit to 1 if one of two bits is 1
+ **^ -	XOR**	Sets each bit to 1 if only one of two bits is 1
+ **~ -	NOT**	Inverts all the bits
+ **<<**	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
+ (**>>**)Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

**[Go to Top](#table)**

# 3. <a name="data structures"></a>Data structures

## <a name="arrays"></a>Arrays

Arrays are used to store multiple values in one single variable:

In [ ]:
#Create an array containing car names:

cars = ["Ford", "Volvo", "BMW"]

### What is an Array?
An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford";

car2 = "Volvo";

car3 = "BMW";

However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

Note: Python does not have built-in support for Arrays, but Python lists can be used instead.

###Access the Elements of an Array
You refer to an array element by referring to the index number.

In [ ]:
#Get the value of the first array item:

x = cars[0]

In [ ]:
#Modify the value of the first array item:

cars[0] = "Toyota"

###The Length of an Array
Use the len() method to return the length of an array (the number of elements in an array).

In [ ]:
#Return the number of elements in the cars array:

x = len(cars)

**Note: The length of an array is always one more than the highest array index.**


###Looping Array Elements
You can use the for in loop to loop through all the elements of an array.

In [ ]:
#Print each item in the cars array:

for x in cars:
  print(x)

### Adding Array Elements
You can use the append() method to add an element to an array.

In [ ]:
#Add one more element to the cars array:

cars.append("Honda")
print(cars)

### Removing Array Elements
You can use the pop() method to remove an element from the array.

In [ ]:
#Delete the second element of the cars array:

cars.pop(1)
print(cars)

You can also use the remove() method to remove an element from the array.

In [ ]:
#Delete the element that has the value "Volvo":

cars.remove("Volvo")

Note: The remove() method only removes the first occurrence of the specified value.

### Array Methods
Python has a set of built-in methods that you can use on lists/arrays.

+ **append()** :	Adds an element at the end of the list
+ **clear()** :	Removes all the elements from the list
+ **copy()**:	Returns a copy of the list
+ **count()**:	Returns the number of elements with the specified value
+ **extend()**:	Add the elements of a list (or any iterable), to the end of the current list
+ **index()** :	Returns the index of the first element with the specified value
+ **insert()**:	Adds an element at the specified position
+ **pop()** :	Removes the element at the specified position
+ **remove()**:	Removes the first item with the specified value
+ **reverse()** :	Reverses the order of the list
+ **sort()**:	Sorts the list

## Collections
There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.
- Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.


## <a name="list"></a>List
A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [ ]:
thislist = ["apple", "banana", 1,[1,2,3,4]]
print(thislist)

### Access Items
You access the list items by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

"""add a cell below and create a list which prints some numbers"""

### Change Item Value
To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

### Loop Through a List
You can loop through the list items by using a for loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

### List Length
To determine how many items a list have, use the len() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

"""write a program to find the lenghth of your name"""

### Add Items
To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

To add an item at the specified index, use the insert() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

### Remove Item
There are several methods to remove items from a list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
""""The pop() method removes the specified index, (or the last item if index is not specified):"""

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

The del keyword removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

The del keyword can also delete the list completely:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because "thislist" no longer exists.

In [ ]:
"""The clear() method empties the list:"""

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

### The list() Constructor
It is also possible to use the list() constructor to make a list.

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

### List Methods
Python has a set of built-in methods that you can use on lists.


+ **append()** --->	Adds an element at the end of the list
+ **clear()**  --->	Removes all the elements from the list
+ **copy()**  --->	Returns a copy of the list
+ **count()**  --->	Returns the number of elements with the specified value
+ **extend()**  --->	Add the elements of a list (or any iterable), to the end of the current list
+ **index()**  --->	Returns the index of the first element with the specified value
+ **insert()** --->	Adds an element at the specified position
+ **pop()** --->	Removes the element at the specified position
+ **remove()** --->	Removes the item with the specified value
+ **reverse()** --->	Reverses the order of the list
+ **sort()** --->	Sorts the list

## <a name="tuple"></a>Tuple
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [ ]:
"""Create a Tuple:"""

thistuple = ("apple", "banana", "cherry")
print(thistuple)

### Access Tuple Items
You can access tuple items by referring to the index number:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)

### Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [ ]:
""""Iterate through the items and print the values:""""

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

### Tuple Length
To determine how many items a list have, use the len() method:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

### Add Items
Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

### Remove Items
 Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

In [ ]:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

### The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

### Tuple Methods
Python has two built-in methods that you can use on tuples.


+ **count()**	Returns the number of times a specified value occurs in a tuple
+ **index()**	Searches the tuple for a specified value and returns the position of where it was found

##<a name="set"></a> Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [ ]:
#Create a Set:

thisset = {"apple", "banana", "cherry","apple"}
print(thisset)

#Sets are unordered, so the items will appear in a random order.

### Access Items
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

### Change Items
Once a set is created, you cannot change its items, but you can add new items.

### Add Items
To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [ ]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

### Get the Length of a Set
To determine how many items a set have, use the len() method.

In [ ]:
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

### Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

### The set() Constructor
It is also possible to use the set() constructor to make a set.

In [ ]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

### Set Methods
Python has a set of built-in methods that you can use on sets.


+ **add()**	Adds an element to the set
+ **clear()**	Removes all the elements from the set
+ **copy()**	Returns a copy of the set
+ **difference()**	Returns a set containing the difference between two or more sets
+ **difference_update()**	Removes the items in this set that are also included in another, specified set
+ **discard()**	Remove the specified item
+ **intersection()**	Returns a set, that is the intersection of two other sets
+ **intersection_update()**	Removes the items in this set that are not present in other, specified set(s)
+ **isdisjoint()**	Returns whether two sets have a intersection or not
+ **issubset()**	Returns whether another set contains this set or not
+ **issuperset()**	Returns whether this set contains another set or not
+ **pop()**	Removes the specified element
+ **remove()**	Removes the specified element
+ **symmetric_difference()**	Returns a set with the symmetric differences of two sets
+ **symmetric_difference_update()**	inserts the symmetric differences from this set and another
+ **union()**	Return a set containing the union of sets
+ **update()**	Update the set with the union of this set and others

## <a name="dictionary"></a>Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
#Create and print a dictionary:

thisdict =	{
  "brand": ["ford","bmw"],
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

### Accessing Items
You can access the items of a dictionary by referring to its key name:

In [ ]:
#Get the value of the "model" key:

x = thisdict["model"]
print(x)

In [ ]:
#There is also a method called get() that will give you the same result:
#Get the value of the "model" key:
x = thisdict.get("model")

### Change Values
You can change the value of a specific item by referring to its key name:

In [ ]:
#Change the "year" to 2018:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

### Loop Through a Dictionary
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
#Print all key names in the dictionary, one by one:

for x in thisdict:
  print(x)

In [ ]:
#Print all values in the dictionary, one by one:

for x in thisdict:
  print(thisdict[x])

In [ ]:
#You can also use the values() function to return values of a dictionary:

for x in thisdict.values():
  print(x)

In [ ]:
#Loop through both keys and values, by using the items() function:

for x, y in thisdict.items():
  print(x, y)

### Dictionary Length
To determine how many items (key-value pairs) a dictionary have, use the len() method.

In [ ]:
print(len(thisdict))

### Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

### Removing Items
There are several methods to remove items from a dictionary:

In [ ]:
#The del keyword removes the item with the specified key name:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
#The pop() method removes the item with the specified key name:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
#The del keyword removes the item with the specified key name:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
#The del keyword can also delete the dictionary completely:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thislist" no longer exists.

In [ ]:
#The clear() keyword empties the dictionary:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

###The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary:

In [ ]:
thisdict =	dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

**[Go to Top](#table)**

# 4. <a name="control"></a>Control structures

Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

## <a name="conditional"></a>Conditional statements

### If  

The most common selection statement is the if statement.

In [ ]:
#If statement:

a = 33
b = 200
if b > a:
  print("b is greater than a")

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

### Indentation
Python relies on indentation, using whitespace, to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [ ]:
#If statement, without indentation (will raise an error):

a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error


"""we have discussed about the need of identation earlier"""

### Elif
The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal") 
# In this example a is equal to b, so the first condition is not true, 
# but the elif condition is true, so we print to screen that "a and b are equal"
  
  
# write a program to check whether apple is present in a list, 
# (create one without apple), if not print it's going to be added to the list and add apple to the list.

### Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
#You can also have an else without the elif:

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

### Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
if a > b: print("a is greater than b")

### Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
print("A") if a > b else print("B")

### And
The and keyword is a **logical operator**, and is used to combine conditional statements:

In [ ]:
#Test if a is greater than b, AND if c is greater than a:

if a > b and c > a:
  print("Both conditions are True")

### Or
The or keyword is a **logical operator**, and is used to combine conditional statements:

In [ ]:
#Test if a is greater than b, OR if a is greater than c:

if a > b or a > c:
  print("At least one of the conditions are True")

## <a name="loops"></a> Loops
Python has two primitive loop commands:

* while loops
* for loops

### The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
#Print i as long as i is less than 6:

i = 1
while i < 6:
  print(i)
  i += 1
print("Hello")

**remember to increment i, or else the loop will continue forever.**

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

### Break statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
#Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

### Continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
#Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

### For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming language, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
#Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  #The for loop does not require an indexing variable to set beforehand.

### Looping through a String
Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

### Break statement
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

In [ ]:
#Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

### Continue statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

### The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
#Using the range() function:

for x in range(1000,6000,2):
  print(x)
"""Note that range(6) is not the values of 0 to 6, but the values 0 to 5.
The range() function defaults to 0 as a starting value, 
however it is possible to specify the starting value by adding a parameter: range(2, 6),
which means values from 2 to 6 (but not including 6):"""

In [ ]:
#Using the start parameter:

for x in range(2, 6):
  print(x)

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [ ]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

### Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

### Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

## 5. <a name="functions"></a>Functions

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function.
A function can return data as a result.

### Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

### Calling a Function
To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

### Parameters
Information can be passed to functions as parameter.

Parameters are specified after the function name, inside the parentheses. You can add as many parameters as you want, just separate them with a comma.

The following example has a function with one parameter (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

### Default Parameter Value
The following example shows how to use a default parameter value.

If we call the function without parameter, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

### Return Values
To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

## <a name="recursion"></a> Recursion
Python also allows function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [ ]:
#Recursion Example

def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print("When k =",k,"then result =" ,result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

## <a name="lambda"></a>Python Lambda
A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression.

### Syntax
+ lambda arguments : expression

The expression is executed and the result is returned:

In [ ]:
# A lambda function that adds 10 to the number passed in as an argument, and print the result:
a=5
x = lambda a : a + 10
print(x(5))

Lambda functions can take any number of arguments:

In [ ]:
#A lambda function that multiplies argument a with argument b and print the result:

x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
#A lambda function that sums argument a, b, and c and print the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

##Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):
  return lambda a : a * n

Use that function definition to make a function that always doubles the number you send in:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

Or, use the same function definition to make a function that always triples the number you send in:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

Or, use the same function definition to make both functions, in the same program:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

**Use lambda functions when an anonymous function is required for a short period of time.**

**[Go to Top](#table)**